@{
    ViewBag.Title = "Extract Text From PDFs";
}

 
<div class="site-heading">
    @{Html.RenderPartial("_Nav"); }
</div>
<div class="content">
    <p class="lead">
        Upload multiple files that all need to have their text extracted. The download will contain those same PDF files in text format.
    </p>

    <form action="@Url.Action("ExtractText", "PdfUtils")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select Files (up to 30Mb at a time)</label>
            <input type="file" multiple name="files" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Extract</button>
        </div>
    </form>
</div>
