@{
    ViewBag.Title = "Stitch PDFs Together";
}

 
<div class="site-heading">
    @{Html.RenderPartial("_Nav"); }
</div>
<div class="content">
    <p class="lead">
        If you have multiple files you need to stitch together, stitch file #1 and #2 to get a merged copy.<br />
        Then you can stitch the merged copy with #3 and get a second merge. Repeat as often as required.
    </p>

    <form action="@Url.Action("Stitch", "PdfUtils")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>First File</label>
            <input type="file" name="firstFile" required />
        </div>
        <div class="form-group">
            <label>Second File</label>
            <input type="file" name="secondFile" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Merge</button>
        </div>
    </form>
</div>
