@{
    ViewBag.Title = "PDF Utils";
}

@section scripts {
    <script src="~/Scripts/tinymce/tinymce.js" type="text/javascript"></script>


    <script>
        (function () {
            $(function () {
                tinymce.init({
                    selector: '#mytextarea',
                    menubar: true,
                    valid_children: "+body[link|style]",
                    force_p_newlines: false,
                    forced_root_block: '',
                    theme: 'modern',
                    plugins: [
                        'advlist autolink lists link image charmap print preview anchor textcolor',
                        'searchreplace visualblocks code fullscreen',
                        'insertdatetime media table contextmenu paste code help wordcount'
                    ],
                    toolbar: 'undo redo |  formatselect | bold italic forecolor backcolor  | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat',
                });
            });
        })();
    </script>

}

<div class="about-area section-padding bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-xs-12 info">
                <div class="about-wrapper wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                    <div>
                        <div class="site-heading">
                            <p class="mb-3"><p class="mb-3"><a href="/PdfUtils/Index">Stitch</a> | <a href="/PdfUtils/Protect">Protect</a> | <a href="/PdfUtils/Make">Make</a> | <a href="/PdfUtils/Extract">Extract</a></p>
                            <h2 class="section-title">Make PDF</h2>
                        </div>
                        <div class="content">
                            <p class="lead">
                                Type in your document online and download it as a PDF.
                            </p>

                            <form action="@Url.Action("MakePdf", "PdfUtils")" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label>Password protect (optional)</label>
                                    <input type="text" name="password" maxlength="32" />
                                </div>
                                <div class="form-group">
                                    <textarea id="mytextarea" name="Content">Start typing in your document here</textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Make</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                <img class="img-fluid" src="~/Content/fusion/img/about/img-1.png" alt="">
            </div>
        </div>
    </div>
</div>

