@{
    ViewBag.Title = "Stamp a PDF";
}

@section scripts {

}


<div class="site-heading">
    @{Html.RenderPartial("_Nav"); }
</div>
<div class="content">
    <p class="lead">
        Upload a document to be stamped so that it can be verified later.
    </p>
    <div class="alert-info">
        This will insert a QR code onto the bottom left corner of the first page which recipients can use to verify the PDF they received is the same as the one you have issued.
    </div>
    <form action="@Url.Action("Stamped", "PdfUtils")" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Select a PDF to stamp (up to 30Mb at a time)</label>
            <input type="file" multiple name="pdfFile" required />
        </div>
        <div class="form-group">
            <label>Your name</label>
            <input type="text" name="IssuedBy" maxlength="128" required />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Stamp</button>
        </div>
    </form>
</div>
