################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TchOpenSource
/bin
/obj/Debug
/packages
/TchOpenSource.csproj.user
/obj/Release
/tchopensourcecli/bin/Debug/netcoreapp3.1
/tchopensourcecli/obj
/tchopensourcecli/resources/affidavit.html
